<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Microbanque by Raouf</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta http-equiv="Content-Type"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
							<h1 id="title">Service : Operation</h1>
							<p>Operation view</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="http://localhost:8011/" id="top-link"><span class="icon fa-home">Home</span></a></li>
								<li><a href="http://localhost:8011/#portfolio" id="about-link"><span class="icon fa-user">Add operation</span></a></li>
								<li><a href="http://localhost:8011/#about" id="about-link"><span class="icon fa-user">List operation by ID</span></a></li>
								<li><a href="http://localhost:8011/#contact" id="about-link"><span class="icon fa-user">List operation by Type or Date</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Home -->
					<section id="top" class="one dark cover">
						<div class="container">

							<div>
								  <table border="1">
									<tr>
									  <th>Operation ID</th>
									  <th>Type</th>
									  <th>Iban Source</th>
									  <th>Iban Destination</th>
									  <th>Montant</th>
									  <th>date</th>
									</tr>
									
									<tr>
									  <td th:text="${operation.getId()}"></td>
									  <td th:text="${operation.getType()}"></td>
									  <td th:text="${operation.getIban_source()}"></td>
									  <td th:text="${operation.getIban_destination()}"></td>
									  <td th:text="${operation.getMontant()}"></td>
									  <td th:text="${operation.getDate()}"></td>
									</tr>
								  </table>
							</div>

						</div>
					</section>

				<!-- Add a new operation -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>Add a new operation</h2>
							</header>

							<p>Please fill all the informations.</p>

							<form method="POST" action="http://localhost:8011/operation/add">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="id" placeholder="Numéro d'opération" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="type" placeholder="Type d'opération : Virement, Dépôt, Retrat .." /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="iban_source" placeholder="IBAN du compte source" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="iban_destination" placeholder="IBAN du compte destination" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="montant" placeholder="Montant souhaité" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="date" placeholder="Date du virement au format dd-MM-yyyy" /></div>
									<div class="col-12">
										<input type="submit" value="Submit" />
									</div>
								</div>
							</form>

						</div>
					</section>

				<!-- List operation by ID -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>List operation by ID</h2>
							</header>

							<p>Please fill in the ID</p>
							<form method="GET" action="http://localhost:8011/view/id">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="id" placeholder="Numéro de l'opération .." /></div>
									<div class="col-12">
										<input type="submit" value="Submit" />
									</div>
								</div>
							</form>
						</div>
					</section>

				<!-- Update an operation -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>List operation by Type or Date</h2>
							</header>

							<p>Type : Please fill in the operation Type</p>
							<form method="GET" action="http://localhost:8011/view/type">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="type" placeholder="Type de l'opération .." /></div>
									<div class="col-12">
										<input type="submit" value="Submit" />
									</div>
								</div>
							</form>
							
							<p>Date : Please fill in the operation Date dd-MM-yyyy</p>
							<form method="GET" action="http://localhost:8011/view/date">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="date" placeholder="Date de l'opération au format dd-mm-yyyy.." /></div>
									<div class="col-12">
										<input type="submit" value="Submit" />
									</div>
								</div>
							</form>


						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="https://www.linkedin.com/in/raouf-haddad-7993a1aa/">Raouf HADDAD</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/jquery.scrolly.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/jquery.scrollex.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/browser.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/breakpoints.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/util.js}"></script>
			<script type="text/javascript" th:src="@{/js/main.js}"></script>
			

	</body>
</html>